@keyframes fire {
  0% {
    filter: contrast(120%);
  }

  10% {
    filter: contrast(130%);
  }

  20% {
    filter: contrast(240%);
    text-shadow: 0 -3px 15px rgba(255, 193, 39, 0.4),
      0 4px 20px rgba(153, 153, 153, 0.2);
  }

  30% {
    filter: contrast(220%);
  }

  40% {
    filter: contrast(250%);
  }

  50% {
    filter: contrast(310%);
    text-shadow: 0 -2px 15px rgba(255, 193, 39, 0.4),
      0 7px 9px rgba(153, 153, 153, 0.2);
  }

  60% {
    filter: contrast(150%);
  }

  70% {
    filter: contrast(220%);
  }

  80% {
    filter: contrast(360%);

    text-shadow: 0 -5px 20px rgba(255, 193, 39, 0.4),
      0 7px 27px rgba(153, 153, 153, 0.2);
  }

  90% {
    filter: contrast(250%);
  }

  100% {
    filter: contrast(180%);
  }
}

.root {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 60px 1fr auto;
  grid-template-areas: 'header' 'content' 'footer';

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    filter: blur(50px);
    opacity: 0.3;
    background: url('/bg-image.png') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    @include breakpoint(tablet) {
      filter: blur(100px);
    }

    @include breakpoint(desktop) {
      filter: blur(140px);
    }

    @include breakpoint(desktopLarge) {
      filter: blur(200px);
    }
  }
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171414;
}

.headerLink {
  padding: 5px 20px;
  font-size: 30px;

  &:hover {
    span {
      animation: fire 1500ms alternate infinite;
    }
  }
}

.headerSecondaryLink {
  height: 100%;
  padding: 5px 30px;
  font-weight: bold;
}

.content {
  grid-area: content;
  padding-bottom: 50px;
}

.footer {
  grid-area: footer;
  color: #e14313;
}
