.root {
  transition: filter 200ms ease;
}

.loading {
  filter: blur(20px);
  pointer-events: none;
}

.questionTitle {
  display: flex;
  align-items: flex-start;
}

.modalBody {
  ul {
    list-style-type: disc;
  }
}

.infoButton {
  color: var(--nextui-colors-purple600);
  cursor: pointer;
}

.imageFallback {
  position: absolute;
}
