@import '~react-medium-image-zoom/dist/styles.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  &::before {
    content: '';
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    opacity: 0.25;
    background: url('/bg-image.png') no-repeat;
    background-position: center;
    background-size: 150%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
}
